<div class="container">
  <div class="ui-g">

    <form autocomplete="off" (ngSubmit)="pesquisar()">

      <div class="ui-g-12">
        <h1>Pessoas</h1>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Nome</label>
        <input pInputText type="text" name="nome" [(ngModel)]="filtro.nome">
      </div>

      <div class="ui-g-2 ui-sm-4 ui-md-3 ui-lg-2 ">
        <button pButton type="submit" label="Pesquisar"></button>
      </div>
      <div  class="ui-g-2 ui-sm-4 ui-md-3 ui-lg-2 ">
        <button type="button" (click)="showDialog()" pButton icon="pi pi-plus" label="Mais filtros"></button>
      </div>

      <p-dialog [(visible)]="display" [responsive]="true" [draggable]="false" [modal]="true">
        <p-header>
          Filtro
        </p-header>
        <div class="ui-g-6 ui-fluid">
          <label>Cidade</label>
          <input pInputText type="text" name="cidade" [(ngModel)]="cidade">
        </div>
        <div class="ui-g-6 ui-fluid">
          <label>Estado</label>
          <input pInputText type="text" name="estado" [(ngModel)]="estado">
        </div>
        <div class="ui-g-6 ui-fluid">

          <p-radioButton name="status" value="true" [(ngModel)]="ativo" label="Ativo"></p-radioButton> <br>
          <p-radioButton name="status" value="false" [(ngModel)]="ativo" label="Inativo"></p-radioButton>

        </div>
        <p-footer>
          <button pButton type="button" label="Ok" (click)="hiddenDialog()"></button>
          <button pButton type="button" label="Limpar Tudo" (click)="limparTudo()"></button>
          <button pButton type="button" label="Cancelar" (click)="cancelar()"></button>
        </p-footer>
      </p-dialog>



    </form>

  </div>

  <div class="ui-g">
    <div class="ui-g-12">
      <p-table [columns]="pessoas" [value]="pessoas" [responsive]="true" [resizableColumns]="true" [paginator]="true"
        [rows]="filtro.itensPorPagina" [lazy]="true" [totalRecords]="totalRegistros"
        (onLazyLoad)="aoMudarPagina($event)" #tabela>
        <ng-template pTemplate="header">
          <tr>
            <th>Nome</th>
            <th>Cidade</th>
            <th>Estado</th>
            <th>Status</th>
            <th style="width: 100px;"></th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-pessoas>
          <tr>
            <td>{{pessoas.nome}}</td>

            <td *ngIf="pessoas.endereco.cidade !== null || pessoas.endereco !== null ">{{pessoas.endereco.cidade}}</td>
            <td *ngIf="pessoas.endereco.cidade === null "></td>

            <td *ngIf='pessoas.endereco.estado !== null'>{{pessoas.endereco.estado}}</td>
            <td *ngIf='pessoas.endereco.estado === null'></td>

            <td>
              <a *ngIf="pessoas.ativo" pTooltip="Desativar" tooltipPosition="top" class="categoriaA"
                (click)="mudarStatus(pessoas)">Ativo</a>
              <a *ngIf="!pessoas.ativo" pTooltip="Ativar" tooltipPosition="top" class="categoriaA"
                (click)="mudarStatus(pessoas)">Inativo</a>
            </td>

            <td class="col-acoes">
              <a pButton pTooltip="Editar" tooltipPosition="top" style="height: 1.5em; color: white;"
                [routerLink]="['/pessoas', pessoas.codigo]"><i class="pi pi-pencil"></i></a>
              <a pButton pTooltip="Excluir" tooltipPosition="top" style="height: 1.5em; margin-left: 4px; color:white;"
                (click)="confirmarExclusao(pessoas)"><i class="pi pi-trash"></i></a>

            </td>
          </tr>
        </ng-template>
      </p-table>

    </div>

    <div class="ui-g-12">
      <a pButton label="Nova Pessoa" routerLink="/pessoas/nova"></a>
    </div>
  </div>

</div>
