<div class="container">
  {{auth.jwtPayload | json}}
    <div class="ui-g">
        <form #f="ngForm" autocomplete="off"   style="text-align: center; margin-left: auto; margin-right: auto; padding-left: auto; padding-right: auto">
            <div class="ui-g-12" >
                <h1>Login</h1>
            </div>

            <div class="ui-g-12">
                <input pInputText ngModel type="text" #email name="email" placeholder="E-mail" style="width: 100%" required>
            </div>

            <div class="ui-g-12">
                <input pInputText ngModel name="senha" #senha type="password" placeholder="Senha" style="width: 100%" required>
            </div>

            <div class="ui-g-12">
                    <button pButton type="submit" label="Login" style="width: 100%" [disabled]="f.invalid"
                    (click) = "login(email.value, senha.value); senha.value=''"> </button>
                </div>
        </form>
    </div>

</div>
